
@use './../variables' as *;

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%,0); // Start and end at the original position
  }
  50% {
    transform: translate(-50%,-20px); // Move up by 20px
  }
}


.blog {
  h2 {
    font-weight: bold;
    padding-bottom: 10px;
  }
  a {
    color: $grey;
    text-decoration: underline;
  }
  hr {
    margin-top: 10px;
  }
}
  