@import '../variables';

.entry {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
  }
  .date {
    margin-bottom: 10px;
  }
  a {
    color: $grey;
  }
  p {
    font-size: 16px;
    line-height: 1.5rem;
    color: $grey;
  }
  li {
    list-style-type: none;
  }
}