@use './variables' as *;


.aboutMePage {
    margin-top: 100px;
    h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    a {
        :hover {
            color: $link;
        }
    }      
    section {
        &:first-of-type {
            padding-top: 0;
        }
        padding-bottom: 20px;
       

        h2 {
            padding-top: 0px;
            padding-bottom: 20px;
        
        }
        h3 {
            margin-bottom: 10px;
        }
    }
    
}